<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naumenko.wimm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:name="com.naumenko.wimm.WimmApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.naumenko.wimm.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.naumenko.wimm.dao.provider.WimmContentProvider"
            android:authorities="com.naumenko.wimm"
            android:exported="false" />
    </application>

</manifest>